<itdb-modal-dialog>

  <div class="modal-header" app-modal-header>
    <h5 #title class="modal-title">Create Cluster</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div  app-modal-body>
    <div class="alert alert-danger" role="alert" [hidden]="errorMessage == ''">
      <span #error >
      </span>
    </div>
       <itdb-cluster-wizard-menu>
         <itdb-cluster-wizard-menu-tab tabTitle="Info">
           <itdb-cluster-wizard-info></itdb-cluster-wizard-info>
         </itdb-cluster-wizard-menu-tab>

         <itdb-cluster-wizard-menu-tab tabTitle="Type">
           <itdb-cluster-wizard-type></itdb-cluster-wizard-type>
         </itdb-cluster-wizard-menu-tab>

         <itdb-cluster-wizard-menu-tab tabTitle="Attributes">
           <itdb-cluster-wizard-attributes></itdb-cluster-wizard-attributes>
         </itdb-cluster-wizard-menu-tab>
       </itdb-cluster-wizard-menu>
  </div>

  <div app-modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary" [disabled]="!isValidForm()" (click)="createOrSaveCluster()">Save changes</button>
  </div>

</itdb-modal-dialog>
