<nile-modal-dialog>

  <div app-modal-header>
    <button type="button" class="close" (click)="modal.hide()">&times;</button>
    <h2 #title>Create Cluster</h2>
  </div>

  <div app-modal-body>
<!--    <form #clusterform="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" ngModel name="name" [disabled]="!create"/>
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" id="type" ngModel name="type" [disabled]="!create">
          <option value="KAFKA">Kafka</option>
          <option value="ZOOKEEPER">Zookeeper</option>
        </select>
      </div>

      <div class="form-group">
        <label for="superuser">Owner</label>
        <input type="text" class="form-control" id="superuser" ngModel name="superuser" [disabled]="!create"/>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" ngModel name="description" [disabled]="!create"/>
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" id="category" ngModel name="category" [disabled]="!create">
          <option *ngFor="let cat of categories">{{cat}}</option>
        </select>
      </div>

&lt;!&ndash;      <div class="form-group">
        <label><h3>Attributes</h3></label>
        <div class="form-group">
          <label for="retention">Log Retention hours</label>
          <input type="number" class="form-control" id="retention" ngModel name="retention"/>
        </div>

        <div class="form-group">
          <label for="replication">Replication factor</label>
          <input type="number" class="form-control" id="replication" ngModel name="replication"/>
        </div>

        <div class="form-group">
          <label for="partitions">Partitions Number</label>
          <input type="number" class="form-control" id="partitions" ngModel name="partitions"/>
        </div>
      </div>&ndash;&gt;
    </form>-->
  </div>

  <div app-modal-footer>
    <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
    <button type="button" class="btn btn-primary" (click)="createCluster()">Save changes</button>
  </div>

</nile-modal-dialog>
