<form #typeForm="ngForm">

  <div class="form-group">
    <label for="type">Type</label>
    <select class="form-control" id="type" ngModel name="type" [disabled]="!create" required #type >
      <option value="KAFKA">Kafka</option>
      <option value="ZOOKEEPER">Zookeeper</option>
    </select>
  </div>

  <div class="form-group" *ngIf="type.value === 'KAFKA'" >
    <label for="zk_cluster">Zk Cluster</label>
    <input type="text" class="form-control" id="zk_cluster" ngModel name="zk_cluster" [required]="type.value === 'KAFKA'" />
  </div>
 
<!--  <div class="form-group">
    <label for="size">Size</label>
    <input type="text" class="form-control" id="size" ngModel name="size" />
  </div>-->
 
  <div class="form-group"> 
    <label for="num_brokers">Number Brokers</label>
    <input type="number" class="form-control" id="num_brokers" ngModel name="num_brokers" required />
  </div>

</form>
