<div class="dropdown al-project-profile">
  <a id="project-profile" class="dropdown-toggle" role="button" aria-expanded="false" data-toggle="dropdown" href="#" >
    <span class="context-project">{{egroupSelected}}</span>
    <span class="fa fa-caret-down"></span>
  </a>
  <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="project-profile">
    <li  class="dropdown-item" *ngFor="let item of egroupList" (click)="changeProject(item.name)">
      <a href="#" target="_self">
        <span class="fa fa-check" [ngStyle]="{'visibility': item.name == egroupSelected?'visible':'hidden'}"></span>
        <span class="testing">{{item.name}}</span>
      </a>
    </li>
  </ul>
</div>
