@import '../../sass/conf/conf';

.page-top {
//  background-image: linear-gradient(270deg, rgb(60, 166, 212), rgb(49, 151, 201) 51%, rgb(24, 116, 176));;
  background-color: $sidebar;
  position: fixed;
  z-index: 904;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
  height: $pagetop-height;
  width: 100%;
  min-width: $resMin;
  margin-top: $cerntoolbar-height;
  padding: 0 32px 0 40px;

  .dropdown-toggle::after {
    display: none;
  }
}

.blur {
  .page-top.scrolled {
    background-color: rgba(black, 0.85)
  }
}

a.al-logo {
  color: $sidebar-text;
  display: block;
  font-size: 24px;
  font-family: $font-family;
  white-space: nowrap;
  float: left;
  outline: none !important;
  line-height: 60px;
  text-decoration: none;

  span {
    color: $primary;
  }
}

a.al-logo:hover {
  color: $primary;
  text-decoration: none;

}

.user-profile {
  margin-left: 100px;
  min-width: 230px;
  margin-top: 10px;
}

.al-user-profile {
  float: right;
  margin-right: 12px;
  transition: all .15s ease-in-out;
  padding: 0;
  width: 36px;
  height: 36px;
  border: 0;
  opacity: 1;
  position: relative;
  a {
    display: block;
  }

}

a.refresh-data {
  color: $sidebar-text;
  font-size: 13px;
  text-decoration: none;
  font-weight: $font-normal;
  float: right;
  margin-top: 13px;
  margin-right: 26px;

  &:hover {
    color: $warning !important;
  }
}

a.collapse-menu-link {
  font-size: 31px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  line-height: 42px;
  color: $sidebar-text;
  padding: 0;
  float: left;
  margin: 11px 0 0 25px;

  &:hover {
    text-decoration: none;
    color: $warning;
  }
}

.al-skin-dropdown {
  float: right;
  margin-top: 14px;
  margin-right: 26px;

  .tpl-skin-panel {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.icon-palette {
  display: inline-block;
  width: 14px;
  height: 13px;
  @include bg('theme/palette.png');
  background-size: cover;
}

.signout-item {
  width: 145px;
  top: 26px;
  right: -25px;
  left: auto;
  text-decoration: none;

  .header {
    padding: 10px 12px;
    border-bottom: 1px solid $default;
    font-size: 12px;
    strong {
      float: left;
      //color: $dropdown-text;
    }
    & > a {
      text-align: left;
      border: none;
      padding: 4px 16px 4px 20px;
      float: right;
      margin-left: 12px;
      text-decoration: none;
      &:hover {
        text-decoration: none;

        //  color: $dropdown-text;
      }
    }
  }
  &.signout {
    line-height: 1;
    border-radius: 5px;
    border-top: 1px solid $default;
  }
}


@media screen and (max-width: $resS) {
  .search {
    display: none;
  }
}

@media screen and (max-width: $resXS) {
  .page-top {
    padding: 0 20px;
  }
}

@media (max-width: $resXXS) {
  .user-profile{
    min-width: 136px;
  }
  a.refresh-data {
    margin-right: 10px;
  }
  a.collapse-menu-link {
    margin-left: 10px;
  }

  .al-skin-dropdown {
    display: none;
  }
}

.profile-toggle-link{
  cursor: pointer;
}

