<div class="page-top clearfix" maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/pages/dashboard" class="al-logo clearfix"><span>Nile-</span>Webapp</a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>

  <!--<div>-->
    <!--<nile-user-dropdown-menu></nile-user-dropdown-menu>-->
  <!--</div>-->

  <div class="user-profile clearfix">
    <div class="dropdown al-user-profile">
        <a id="user-profile-dd" data-toggle="dropdown" href="#" class="profile-toggle-link dropdown-toggle" role="button" aria-expanded="false">
          <span class="user-name">Tools </span>
          <span class="fa fa-caret-down"></span>
        </a>
        <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
          <li class="dropdown-item"><a href><i class="fa fa-cog"></i>Request Quota</a></li>
          <li class="dropdown-item"><a href="http://nile-user-guide.web.cern.ch/nile-user-guide/" target="_new"><i class="fa fa-question-circle"></i>Help</a></li>
          <li class="dropdown-divider" ></li>
          <li class="dropdown-item"><a href="https://cern.service-now.com/service-portal" target="_new">Submit a ticket</a></li>
        </ul>
    </div>
  </div>


</div>
