<div class="row">
  <div class="col-md-12">
    <nile-card title="Nodes per Cluster" baCardClass="with-scroll">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <p>VCPU</p>
          <nile-pie-chart *ngIf="vcpu" [data]="vcpu" [size]="[400, 300]" [showLabels]="true"></nile-pie-chart>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <p>Number of Nodes</p>
          <nile-pie-chart *ngIf="numberNodes" [data]="numberNodes" [size]="[400, 300]" [showLabels]="true"> </nile-pie-chart>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <p>Volumes</p>
          <nile-pie-chart *ngIf="numberVolumes" [data]="numberVolumes" [size]="[400, 300]" [showLabels]="true"> </nile-pie-chart>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <p>Real Storage Usage</p>
          <nile-pie-chart *ngIf="storageUsage" [data]="storageUsage" [size]="[400, 300]" [showLabels]="true"> </nile-pie-chart>
        </div>
      </div>
    </nile-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nile-card title="Nodes per Cluster" baCardClass="with-scroll">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <p>Kafka</p>
          <nile-pie-chart *ngIf="kafka" [data]="kafka" [showLabels]="true" ></nile-pie-chart>
        </div>
        <div class="col-lg-6 col-md-12">
          <p>Zookeeper</p>
          <nile-pie-chart *ngIf="zookeeper" [data]="zookeeper" [showLabels]="true" > </nile-pie-chart>
        </div>
      </div>
    </nile-card>
  </div>
</div>

